# Compiled files
*.exe
*.out
*.o
*.obj

# VS Code settings
.vscode/

# Optional extras
*.log
*.tmp

# Code Runner temp files
tempCodeRunnerFile.c
*/tempCodeRunnerFile.c
CodeRunnerFile.c
CodeRunnerFile.exe
